:root {
  --main-bg: #fff;
  --accent-color: black;
  --secondary-color: white;
  --transition-fast: 0.3s ease;
  --transition-slow: 2s ease;
  --box-shadow-hover: -2px 2px 5px rgba(0, 0, 0, 1);
  --border-radius: 8px;
  --font-primary: monospace;
}
